# Problem Description

ABC Bank wants to sell its term deposit product to customers and before launching the product they want to develop a model which help them in understanding whether a particular customer will buy their product or not (based on customer's past interaction with bank or other Financial Institution).

# Importing the Data

In [211]:
# ! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# Import and view the dataset
df = pd.read_csv('https://raw.githubusercontent.com/agbaysa/dataglacier_week7/main/bank-full.csv', sep=";")
df.head(3)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no

In [48]:
# Check dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [73]:
# Check for missing values
print('Data columns with null values:',df.isnull().sum(), sep = '\n')

Data columns with null values:
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

We will now use `pandas-profiling` to profile the dataset in terms of the following:
* Number of Variables
* Number of observations
* Missing Data
* Duplicate Rows
* Data size
* Data Types
* Distribution of Continuous Features
* Cardinality of Categorical Features
* Correlations of Continuous Features

In [71]:
# # Data profiling
import pandas_profiling
from pandas_profiling import ProfileReport

profile = ProfileReport(df)
profile

# Data Cleansing and Features Engineering

In [212]:
# Drop the duration column as required
df.drop(['duration'], axis=1, inplace=True)
df.info()

# Drop duplicates
duplicated_rows = df[df.duplicated()]
print('Number of duplicated rows:', duplicated_rows.shape[0])

df.drop_duplicates(inplace = True)
print(df.shape)


# Select numeric and non-numeric columns
cat_vars = df.select_dtypes(include='object').columns
num_vars = df.select_dtypes(exclude='object').columns
print(cat_vars)

# Do label encoding
# from sklearn.preprocessing import LabelEncoder
# df[cat_vars] = df[cat_vars].apply(LabelEncoder().fit_transform)
# df.head(3)

# Convert target variable to numeric; 
def target_variable_binary(y):
    df['y'] = df['y'].replace({"yes":1,"no":0},inplace=True)

# Check label-encoded categorical columns
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  campaign   45211 non-null  int64
 12  pdays      45211 non-null  int64
 13  previous   45211 non-null  int64
 14  poutcome   45211 non-null  object
 15  y          45211 non-null  object
dtypes: int64(6), object(10)
memory usage: 5.5+ MB
Number of duplicated rows: 16
(45195, 16)
Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,1,-1,0,unknown,no

In [213]:
# Selective label encoding of categorical features
# cat_vars = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']
from sklearn.preprocessing import LabelEncoder

# job: nominal labelling
dict_job = {'blue-collar': 0, 'management': 1, 'technician': 2, 'admin.': 3, 'services': 4,
            'entrepreneur': 5, 'unknown': 5, 'retired': 5, 'self-employed': 5, 'unemployed': 5,
            'housemaid': 5, 'student': 5}
df.replace({'job':dict_job}, inplace=True)

In [214]:
# marital: nominal labelling
dict_marital = {'single': 0, 'married':1, 'divorced':2}
df.replace({'marital':dict_marital}, inplace=True)

In [215]:
# education: nominal labelling
dict_education = {'primary': 0, 'secondary': 1, 'tertiary': 2, 'unknown': 3}
df.replace({'education':dict_education}, inplace=True)

In [216]:
# default: nominal labelling
dict_default = {'no': 0, 'yes': 1}
df.replace({'default':dict_default}, inplace=True)

In [217]:
# housing: nominal labelling
dict_housing = {'no': 0, 'yes': 1}
df.replace({'housing':dict_default}, inplace=True)

In [218]:
# loan: nominal labelling
dict_loan = {'no': 0, 'yes': 1}
df.replace({'loan':dict_loan}, inplace=True)

In [219]:
# contact: nominal labelling
dict_contact = {'unknown': 0, 'cellular': 1, 'telephone': 2}
df.replace({'contact':dict_contact}, inplace=True)

In [220]:
# month: nominal labelling
dict_month = {'jan': 1, 'feb': 2,'mar': 3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}
df.replace({'month':dict_month}, inplace=True)

In [221]:
# campaign: Classify campaign 6 and above as 6 to minimize cardinality
df['campaign'].loc[df['campaign']>=6]

706       6
758       7
780       8
797       6
843       6
         ..
44770     9
44886    12
44891     6
45015     6
45056     7
Name: campaign, Length: 4354, dtype: int64

In [222]:
# poutcome: nominal labelling
dict_poutcome = {'unknown': 0, 'failure': 1, 'other': 2, 'success': 3}
df.replace({'poutcome':dict_poutcome}, inplace=True)

In [223]:
# y: nominal labelling
dict_y = {'no': 0, 'yes': 1}
df.replace({'y':dict_y}, inplace=True)

In [224]:
# Encoding pdays by aging buckets
df['pdays'][df['pdays'].between(-999, 30)] = 30
df['pdays'][df['pdays'].between(31, 60)] = 60
df['pdays'][df['pdays'].between(61, 90)] = 90
df['pdays'][df['pdays'].between(91, 120)] = 120
df['pdays'][df['pdays'].between(121, 150)] = 150
df['pdays'][df['pdays'].between(151, 9999)] = 180

The Data Cleansing and Features Engineering have been presented above.

The initial phases of the Modeling section is included below in order to test the data cleansing process. Based on results, the data cleansing and features engineering process resulted to satisfactory model metrics.

Kindly note that the Modeling section below will still be updated to include more models and parameter tuning.

# Modeling

In [227]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import precision_score, recall_score, precision_recall_curve,f1_score, fbeta_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
import sklearn.metrics as metrics


models = []
models.append(('RFC', RandomForestClassifier()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('LR', LogisticRegression()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
models.append(('LDA', LinearDiscriminantAnalysis()))

In [228]:
# Create X and y
X = df.drop('y', axis=1)
y = df.y

# Create train and test data for selected features only and stratify the target variable
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.3, random_state=6, stratify=y)

In [229]:
# Set parameters
num_folds = 10
seed = 6
scoring = 'roc_auc'

# Results using default parameters using roc-auc as a metric
results = []
names = []

for name, model in models:
  kfold = KFold(n_splits=num_folds)
  cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
  print(msg)

RFC: 0.773863 (0.011459)
KNN: 0.599090 (0.015501)
CART: 0.603364 (0.010142)
LR: 0.673663 (0.019147)
NB: 0.717230 (0.012769)
SVM: 0.512358 (0.053269)
LDA: 0.723556 (0.013207)

In [230]:
# Results using default parameters using accuracy as a metric
scoring = 'accuracy'

results = []
names = []

for name, model in models:
  kfold = KFold(n_splits=num_folds)
  cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
  print(msg)

RFC: 0.890694 (0.003023)
KNN: 0.875901 (0.004343)
CART: 0.824662 (0.005311)
LR: 0.884088 (0.004359)
NB: 0.809300 (0.006792)
SVM: 0.882982 (0.002990)
LDA: 0.887913 (0.004097)

`RandomForestClassifer` has a high accuracy and good roc-auc value. Let us dig deeper into some select models, tune their parameters, and measure their performance.

## Logistic *Regression*

In [233]:
# Log Regression
import numpy as np

param_grid = {'C': np.logspace(-4, 4, 50),
             'penalty':['l1', 'l2']}
clf = GridSearchCV(LogisticRegression(random_state=0), param_grid,cv=5, verbose=0,n_jobs=-1)
best_model = clf.fit(X_train,y_train)
print(best_model.best_estimator_)
print("Mean accuracy of Logistic Regression:",best_model.score(X_valid,y_valid))

LogisticRegression(C=0.02811768697974228, random_state=0)
Mean accuracy of Logistic Regression: 0.8887086068294122

In [235]:
logreg = LogisticRegression(C=0.18420699693267145, random_state=0)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_valid)
print('Accuracy of logistic regression: {:.2f}'.format(logreg.score(X_valid, y_valid)))

Accuracy of logistic regression: 0.89

In [236]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_valid, y_pred)
print("Confusion Matrix:\n",confusion_matrix)
print("Classification Report:\n",classification_report(y_valid, y_pred))

Confusion Matrix:
 [[11884    88]
 [ 1439   148]]
Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.99      0.94     11972
           1       0.63      0.09      0.16      1587

    accuracy                           0.89     13559
   macro avg       0.76      0.54      0.55     13559
weighted avg       0.86      0.89      0.85     13559